################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrudWebAPI`/.vs
/CrudWebAPI`/CrudWebAPI`/obj
/CrudWebAPI`/CrudWebAPI`/bin
/CrudWebAPI`/CrudWebAPI`/bin/Debug/net8.0
/MixedBatch/React/react-demo-app/node_modules
/MixedBatch/React/react-ts-application/node_modules
